.titulo{
    text-align: center;
    color: blueviolet;
    font-size: 5.8rem;

}

.profesor{
    text-align: center;
    font-size: 3.4rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 2rem;
    margin-top: 3rem;
}

.titulo, .profesor{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
}

.año{
    text-align: center;
    background-color: chocolate;
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 2rem;
    font-size: 3.4rem;
}